body{
    background: url(kb3.jfif) no-repeat center center fixed;
    background-size: cover;
}

h1{
    color: #000;
    font-size: 2.5em;
    font-family: 'Abril Fatface', cursive;
}

.rowHeight{
    height: 500px;
}

.bg{
    background-color: #c1c1c1;
    opacity: 0.8;
}

.footer{
    background-color: #fff;
}

p{
    font-size: 18px;
    padding: 10px;
}